<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/task 
           http://www.springframework.org/schema/task/spring-task-4.1.xsd">

    <context:annotation-config/>
    
    <task:annotation-driven scheduler="apiDataScheduler"/>
    <task:scheduler id="apiDataScheduler" pool-size="10"/>
    
    <context:component-scan base-package="org.pbccrc.api.core, org.pbccrc.api.base, org.springframework.web"/>

    <!-- 数据库 配置-->
    <context:property-placeholder location="classpath:jdbc.properties" ignore-unresolvable="true"/>
    <import resource="classpath:spring/applicationContext-db.xml"/>
    <import resource="classpath:spring/applicationContext_dubbo_provider.xml"/>
</beans>