<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://code.alibabatech.com/schema/dubbo
 http://code.alibabatech.com/schema/dubbo/dubbo.xsd
 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <dubbo:application name="ApiDataExternal"/>

    <!-- 使用注册中心-->
    <context:property-placeholder location="classpath:zookeeper.properties" ignore-unresolvable="true"/>
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry}"/>
    <dubbo:provider timeout="300000"/> 

    <!-- 服务配置, 不指定端口 -->
    <dubbo:protocol host="192.167.223.68" name="dubbo" port="-1"/>

    <dubbo:service interface="org.pbccrc.api.base.service.HttpService" ref="httpServiceImpl"/>
</beans>